.card {
    width: 25%;
    box-sizing: border-box;
    border: 1px solid aqua;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}



@media screen and (min-width:320px) and (max-width: 425px) {
    .card {
        width: 100%;
        background-color: black;
        overflow: hidden;
    }
}

@media screen and (min-width:426px) and (max-width: 768px) {
    .card {
        width: 45%;
        overflow: hidden;
        background-color: black;
    }
}