.card {
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid aqua;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}