.products {
    width: 100%;
    display: flex;
}

.ProductsItem {
    width: 20%;
    border-right: 1px solid black;
    border: 1px solid black;
    box-shadow: 0px 2px 4px white;
}

.ProductsDetails {
    width: 80%;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button {
    background-color: white;
    padding: 1rem 2rem;
    border: 1px solid blue;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 2px 2px 5px white;
}

.button button:hover {
    background-color: blue;
    color: white;
    border: 1px solid aqua;
    border-radius: 5px;
    transition: 1s;
}

@media screen and (max-width:425px) {
    .ProductsItem {
        width: 40%;
    }
}

@media screen and (max-width:375px) {
    .ProductsItem {
        width: 50%;
    }
}

@media screen and (max-width:320px) {
    .ProductsItem {
        width: 40%;
    }
}

@media screen and (min-width:1440px) {
    .ProductsItem {
        width: 10%;
    }
}