.products {
    width: 100%;
    display: flex;
}

.ProductsItem {
    width: 20%;
    border-right: 1px solid black;
    border: 1px solid black;
    box-shadow: 0px 2px 4px white;
}

.ProductsDetails {
    width: 80%;
}

@media screen and (max-width:425px) {
    .ProductsItem {
        width: 40%;
    }
}

@media screen and (max-width:375px) {
    .ProductsItem {
        width: 50%;
    }
}

@media screen and (max-width:320px) {
    .ProductsItem {
        width: 40%;
    }
}

@media screen and (min-width:1440px) {
    .ProductsItem {
        width: 10%;
    }
}