.products {
    display: flex;
    margin-top: 2rem
}

.ProductsItem {
    width: 20%;
    height: 100%;
    border-right: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    background-color: rgb(244, 239, 232);
}

.ProductsDetails {
    width: 80%;
    height: auto;
    padding: 0 2rem;
    box-sizing: border-box;
    background-color: white;
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .ProductsItem {
        width: 30%;
        height: auto;
    }

    .ProductsDetails {
        width: 30%;
        height: auto;
    }
}

@media screen and (max-width: 320px) and (min-width: 270px) {
    .ProductsItem {
        width: 45%;
        height: auto;
        box-sizing: border-box;
    }

    .ProductsDetails {
        width: 55px;
        height: auto;
        box-sizing: border-box;
    }
}