 body {
     width: 100%;
     height: auto;
     box-sizing: border-box;
     margin: 0;
     padding: 0;
     background-image: url(background\ image.jpg);
     background-repeat: no-repeat;
     background-size: cover;
 }

 .home {
     width: 100%;
     height: auto;
     box-sizing: border-box;
     color: white;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     justify-content: space-evenly;
 }


 .LoginForm {
     width: 50%;
 }

 .LoginForm h1 {
     font-size: 3rem;
 }

 .heading {
     width: 50%;
 }

 .heading h1 {
     font-size: 3rem;
 }

 .button {
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .button a {
     color: black;
     text-decoration: none;
 }

 .button a:hover {
     color: white;
 }

 .button button {
     background-color: white;
     padding: 1rem 2rem;
     border: 1px solid blue;
     border-radius: 5px;
     font-size: 20px;
     box-shadow: 2px 2px 5px white;
     margin: 20px 2rem;

 }



 .button button:hover {
     background-color: blue;
     color: white;
     border: 1px solid aqua;
     border-radius: 5px;
     transition: 1s;
 }
 @media screen and (max-width:320px) {
    home{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: w;
    }
 }