body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.select {
  padding: 4px 4px;
  border: none;
  font-size: large;
  /* background-color: blue; */
  color: white;
}

.select:hover {
  color: white;
  transition: 1s;
}

li a {
  list-style: none;
  text-decoration: none;
  color: aqua;
}

li a:hover {
  color: white;
  transition: 1s;

}

h4 {
  color: red;
}